.background-image {
    background-image: url('../../assets/img/authentication-background.svg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    animation: rotateColorsLogin 20s infinite alternate linear;
    z-index: -10;
}

@keyframes rotateColorsLogin {
    0% {
        filter: hue-rotate(-50deg);
    }

    100% {
        filter: hue-rotate(60deg);
    }
}