.background-home {
    position: relative;
}

.background-home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/img/home-background.svg');
    background-position: center;
    background-attachment: fixed;
    animation: rotateColors 20s infinite linear;
    z-index: -10;
}

@keyframes rotateColors {
    0% {
        filter: hue-rotate(0deg) brightness(0.9) grayscale(0.2);
    }
    100% {
        filter: hue-rotate(360deg) brightness(0.9) grayscale(0.2);
    }
}
